[submodule "OpenSCAD-test"]
	path = OpenSCAD-test
	url = https://github.com/LeonidDybovskij/OpenSCAD-test.git
	branch = main
[submodule "HW1"]
	path = HW1
	url = https://github.com/LeonidDybovskij/HW1.git
	branch = main
[submodule "HW3"]
	path = HW3
	url = https://github.com/LeonidDybovskij/HW3.git
	branch = main
[submodule "Ludwig"]
	path = Ludwig
	url = https://github.com/LeonidDybovskij/Ludwig.git
	branch = main
[submodule "hse21_hw1"]
	path = hse21_hw1
	url = https://github.com/LeonidDybovskij/hse21_hw1.git
	branch = main
[submodule "hse21_hw2"]
	path = hse21_hw2
	url = https://github.com/LeonidDybovskij/hse21_hw2.git
	branch = main
[submodule "hse21_hw3"]
	path = hse21_hw3
	url = https://github.com/LeonidDybovskij/hse21_hw3.git
	branch = main
